.note.media{
    margin-top: 20px;
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 10px;
}

.note.media.important {
    background-color: rgb(250, 156, 156);
}

.note .media-body{
    margin-left: 10px;
}

.note h4{
    font-weight: normal;
}

.note.media span{
    color:rgb(78, 136, 83);
    cursor: pointer;
}